.contact_title{
  @include section-title;



}
.contact__form{
  margin-left: 20px;
  margin-top: 20px;
  .inline-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    input{
      font-size: 14px;
      letter-spacing: 0px;
      color: #999999;
      font-family: $m-font;
      width: calc(50% - 20px);
      border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195)) !important;
      outline: 0;
      padding: 16px 18px;
      &:focus{
        outline: -webkit-focus-ring-color auto 0px;
        color: #495057;
        background-color: #fff;
        border-color: #f3d603 !important;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(255, 229, 33, 0.21);
        border-top-color: #f3d603;
      }
    }
    textarea{
      width: 95%;
      padding: 10px;
      &:focus{
        color: #495057;
        background-color: #fff;
        border-color: #f3d603;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(255, 229, 33, 0.21);
      }

    }
    position: relative;
    .message__submit__btn{
      border: 0;
      outline: 0;
      background-color: $y-color;
      padding: 13px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      top: 50%;
      transform: translateY(-50%);
      color: $w-color;
      border-radius: 50%;
      right: -5px;
      position: absolute;

      filter: drop-shadow(0px -6px 8px rgba(255,230,46,0.23));
      background-color: $t-color;
      transition: .3s;
      &:hover{
        background-color: #ffe62e;

        svg{
            path{
                fill: #000;
            }
        }
      }
    }

    .form-control:focus{
        padding: 16px 18px;
        color: #495057;
        background-color: #fff;
        border-color: #f3d603;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(255, 229, 33, 0.21);

    }
  }

  .phone-group{
    input{
        padding: 24px 18px;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195)) !important;
        &:focus{
            color: #495057;
            background-color: #fff;
            border-color: #f3d603;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(255, 229, 33, 0.21);
        }
    }
  }
}
