.free_forecasts__section {
    margin-top: 0px;
    .free_forecasts__title {
        @include section-title;
    }
    .free_forecasts__items {
        margin-top: 20px;
        &_i {
            width: 100%;
            display: flex;
            justify-content: space-between;
            background-color: #fff;
            padding: 20px 15px;
            border-radius: 10px;
            margin-bottom: 20px;
            .item_image {
                flex: 1;
                img {
                    width: 100%;
                }
            }
            .item_content {
                padding-left: 45px;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: stretch;
                flex-direction: column;
                .item_title {
                    font-size: 24px;
                    letter-spacing: 1px;
                    color: #3b3b3b;
                    font-weight: 800;
                    font-family: $m-font;
                    font-style: italic;
                    display: flex;
                    .item_type {
                        position: relative;
                        &::before {
                            position: absolute;
                            content: '';
                            display: inline-block;
                            left: 10px;
                            width: 7px;
                            background-color: #67c40c;
                            height: 7px;
                            border-radius: 4px;
                        }
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 13px;
                        letter-spacing: 0px;
                        color: #67c40c;
                        font-family: "Proxima Nova";
                        border-radius: 15px;
                        background-color: #f3f3f3;
                        padding: 0px 10px;
                        padding-left: 25px;
                        margin-left: auto;
                        max-height: 24px;
                        &.red {
                            color: red;
                            &::before {
                                background-color: #c4220d;
                            }
                        }
                        &.black {
                            color: black;
                            &::before {
                                background-color: black;
                            }
                        }
                    }
                }
                p {
                    font-weight: 500;
                    mark {
                        color: #b9b9b9;
                        background-color: unset;
                    }
                    .blue_text {
                        color: #466bd3;
                        font-weight: 800;
                        margin-right: 10px;
                    }
                }
                .item_btn {
                    @include morebtn;
                    filter: drop-shadow(0px -6px 8px rgba(0, 136, 204, 0.22));
                    background-color: #466bd3;
                    margin-top: 30px;
                }
            }
        }
    }
}
