// @import "../commons/header.scss";
// content
.content {
    padding: 0;
    padding-right: 20px;
    padding-left: 20px;
}

.slider__section {
    .free-forecast__title {
        @include section-title;
    }
    .main-slider {
        margin-top: 50px;
        height: 420px;
        .slider__item {
            background-repeat: no-repeat;
            background-size: 120%;
            background-position-x: center;
            height: 100%;
            color: $w-color;
            box-shadow: 0 -6px 16px rgba(0, 181, 231, 0.1);
            border-radius: 10px;
            background-color: $w-color;
            position: relative;
            .inner_wrapper {
                position: absolute;
                padding: 40px 60px 30px 60px;
                z-index: 1;
                top: 0;
                left: 0;
            }
            &_image {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                width: 100%;
            }
            &::after {
                position: absolute;
                padding: 60px 80px 50px 80px;
                content: '';
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 32%, #000000cc 88%, #000000cc 94%);
                display: block;
                left: 0;
                top: 0;
                z-index: 0;
            }
            &_title {
                z-index: 100;
                color: $w-color !important;
                font-family: $m-font;
                font-size: 36px;
                font-weight: 900;
                width: 60%;
                font-style: italic;
                text-transform: uppercase;
                // Text style for "«2-6» ,"
                color: $y-color;
                letter-spacing: -0.9px;
                .match_score {
                    background-color: transparent;
                    color: $y-color;
                    display: block;
                    line-height: 16px;
                }
            }
            &_text {
                // Style for "Если выбир"
                // position: absolute;
                width: 65%;
                color: $w-color;
                font-family: $m-font;
                font-size: 14px;
                font-weight: 600;
                // Text style for "Е, сли выб"
                letter-spacing: 0.35px;
                margin: 0;
                margin-top: 32px;
                line-height: 17px;
            }
            &_morebtn {
                @include morebtn;
                margin-top: 40px;
                padding: 15px 80px;
            }
        }
    }
    position: relative;
    .tns-outer [aria-controls],
    .tns-outer [data-action] {
        display: none;
    }
    #custom-main-slider-controls {
        position: absolute;
        right: 3px;
        top: -15px;
        .prev,
        .next {
            margin: 0;
            padding: 0;
            width: 72px;
            height: 55px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-image: url("/imgs/prev-control.svg");
            background-repeat: no-repeat;
            background-size: cover;
            margin-left: -15px;
            &:focus {
                outline: 0;
                border: 0;
            }
            .text-secondary {
                transition: .3s;
            }
            &:hover {
                .text-secondary {
                    color: #000 !important;
                }
            }
        }
    }
}

// content
.free-forecast__section {
    margin-top: 33px;
    .free-forecast__title {
        @include section-title;
    }
    .free-foreacast__items {
        margin: 0;
        display: flex;
        margin-top: 30px;
        justify-content: space-between;
        .free-forecast__items_i {
            flex-basis: calc(100% / 3 - 20px);
            max-width: 316px;
            position: relative;
            padding: 0 0 62px 0;
            overflow: hidden;
            .item_image {
                border-radius: 12px;
                padding: 0px 0px 10px 0;
                img {
                    width: 100%;
                }
            }
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                content: '';
                width: 100%;
                height: 100%;
                border-radius: 12px;
                background-image: linear-gradient(to top, #000000 0%, #000000 18%, rgba(0, 0, 0, 0) 67%, rgba(0, 0, 0, 0) 100%);
            }
            .result_of_match {
                top: 28px;
                left: 24px;
                position: absolute;
                border-radius: 12px;
                background-color: $w-color;
                font-family: $m-font;
                font-size: 13px;
                font-weight: 600;
                // Text style for "П, роигрыш"
                letter-spacing: 0.33px;
                padding: 2px 14px;
                .dot {
                    display: inline-block;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    margin-right: 11px;
                }
                &.green {
                    @include green;
                }
                &.red {
                    @include red;
                }
            }
            .item_details {
                margin-left: 20px;
            }
            .item_details {
                position: absolute;
                bottom: 30px;
                .item_title {
                    color: $w-color;
                    font-family: $m-font;
                    font-size: 18px;
                    font-weight: 800;
                    // Text style for "БЕНФИКА —"
                    letter-spacing: 0.45px;
                }
                .start_time {
                    display: block;
                    color: $w-color;
                    font-family: $m-font;
                    font-size: 17px;
                    font-weight: 700;
                    letter-spacing: 0.42px;
                    // Text style for "22:00"
                    mark {
                        color: $y-color;
                        font-weight: 800;
                        background-color: transparent;
                    }
                }
                .forecast_info {
                    color: #f6f6f6;
                    font-family: $m-font;
                    font-size: 14px;
                    font-weight: 400;
                    // Text style for "24.07.2018"
                    letter-spacing: 0.35px;
                    display: flex;
                    // justify-content: space-between;
                    mark {
                        color: $y-color;
                        font-weight: 800;
                        background-color: transparent;
                    }
                    .forecast_coefficient {
                        margin-left: 50px;
                    }
                }
                .gotoforecast {
                    @include morebtn;
                    font-size: $rf-size;
                    padding: 15px 48px;
                    margin-top: 24px;
                }
            }
        }
    }
}

// .free-theories__section
.free-theories__section {
    margin-top: 33px;
    .free-forecast__title {
        @include section-title;
    }
    .free-theories__items {
        margin: 0;
        margin-top: 33px;
        display: grid;
        grid-template-columns: 1fr;
        .column1,
        .column2 {
            padding: 0;
        }
        &_i {
            &:not(:first-child) {
                margin-top: 26px;
            }
            padding: 14px 16px;
            box-shadow: 0 -6px 16px rgba(55,
            123,
            207,
            0.1);
            border-radius: 10px;
            background-color: $w-color;
            display: flex;
            column-width: 1;
            position: relative;
            .item_rating {
                position: absolute;
                @include section-title;
                right: -20px;
                top: -15px;
                padding: 5px 8px;
                color: $t-color;
                font-family: $m-font;
                font-size: 14px;
                font-weight: 800;
                // Text style for "Рейтинг: 4"
                letter-spacing: 0.35px;
                mark {
                    &::before {
                        border-bottom-width: 27px;
                    }
                }
            }
            .item_image {
                width: 50%;
                img {
                    // width: 100%;
                    height: 100%;
                }
            }
            .item_content {
                // flex-basis: 35%;
                width: 50%;
                padding-left: 30px;
                padding-top: 16px;


                .item_title {
                    color: $t-color;
                    font-family: $m-font;
                    font-size: 22px;
                    font-weight: 900;
                    font-style: italic;
                    // Text style for "СТРАТЕГИЯ"
                    letter-spacing: 0.55px;
                }
                .item_description {
                    margin-top: 10px;
                    color: #919191;
                    font-family: $m-font;
                    font-size: 13px;
                    font-weight: 800;
                    // Text style for "С, егодня"
                    line-height: 1em;
                    letter-spacing: 0.33px;
                }
                .item_footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .gototheory {
                        @include morebtn;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                    .item_views {
                        color: #bcbcbc;
                        font-family: $m-font;
                        font-size: $rf-size;
                        font-weight: 800;
                        line-height: 43px;
                        text-transform: uppercase;
                        // Text style for "2 543"
                        letter-spacing: 0.3px;
                    }
                }
            }
            &.tall {
                margin-left: 20px;
                flex-direction: column;
                padding: 0;
                .item_rating {
                    right: unset;
                    left: -25px;
                    top: 15px;
                }
                .item_image {
                    width: 100%;
                    img {
                        width: 100%;
                        // height: 100%;
                    }
                }
                position: relative;
                .item_content {
                    width: 50%;
                    padding: 20px 15px;
                    position: absolute;
                    bottom: 0;
                    .item_title {
                        color: $w-color;
                        text-align: right;
                        font-family: $m-font;
                        font-size: 30px;
                        font-weight: 800;
                        // Text style for "СТРАТЕГИЯ"
                        color: $w-color;
                        letter-spacing: 0.75px;
                        // Text style for "«ТОТАЛ БОЛ"
                        letter-spacing: 0.75px;
                        mark {
                            color: $y-color;
                            background-color: transparent;
                        }
                    }
                    .item_description {
                        display: none;
                    }
                    .item_footer {
                        .item_views {
                            order: 1;
                            color: $y-color;
                        }
                        .gototheory {
                            order: 2;
                            padding: 7px 25px;
                        }
                    }
                }
            }
        }
    }
}

// .ad_banner
.ad_banner__section {
    margin-top: 60px;
    border-radius: 10px;
    // background: rgb(0,92,234);
    // border: 10px solid ;
    padding: 37px 68px;
    height: 277px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        padding: 37px 68px;
        height: 100%;
        width: 100%;
        display: block;
        background: linear-gradient(180deg, rgba(0, 92, 234, 1) 0%, rgba(0, 198, 251, 1) 100%);
        clip-path: polygon(0% 0%, 0% 100%, 1.5% 100%, 1.58% 5%, 98.5% 5%, 98.5% 95%, 1.5% 95%, 1.5% 100%, 100% 100%, 100% 0%);
        border-radius: 10px;
    }
    &::after {
        position: absolute;
        right: 1.5%;
        top: 5%;
        content: '';
        display: block;
        width: 300px;
        height: 90%;
        background-image: radial-gradient(circle at center, #37ade1 0%, #1d95c7 100%);
    }
    .banner_content {
        z-index: 2222;
        position: relative;
        svg{
           fill:#259ccf;
           stroke:#259ccf;
        }
        .telegram_channel {
            position: absolute;
            right: -5%;
            top: 0%;
            width: 200px;
        }
        .telegram_md_icon {
            position: absolute;
            right: -5%;
            bottom: -50%;
            width: 150px;
        }
    }
    .ad_banner__title {
        @include section-title;
        font-size: 35px;
        letter-spacing: 1px;
        color: $t-color;
        font-weight: 800;
        font-family: $m-font;
        padding-right: 30%;
        mark {
            &::before {
                border-width: 0 0 48px 10px;
            }
            &::after {
                border-width: 50px 10px 0 0;
            }
        }
    }
    .subscribe {
        @include morebtn;
        color: $t-color;
        filter: drop-shadow(0px -6px 8px rgba(255, 230, 46, 0.22));
        background-color: #ffe62e;
        svg {
            width: 16px;
            height: 16px;
        }
        position: relative;
        margin-top: 10px;
        .hint {
            display: block;
            left: 115%;
            width: 120%;
            top: 50%;
            transform: translateY(-50%);
            padding: 18px 13px 5px 13px;
            font-size: 12px;
            letter-spacing: 0px;
            color: #c0c0c0;
            font-family: $m-font;
            position: absolute;
            border-radius: 10px;
            filter: drop-shadow(0px -6px 8px rgba(0, 181, 231, 0.13));
            background-color: #ffffff;
            &::before {
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                left: -10px;
                top: 50%;
                transform: translateY(-50%);
                filter: drop-shadow(0px -6px 8px rgba(0, 181, 231, 0.13));
                position: absolute;
                border-bottom: 10px solid transparent;
                border-top: 10px solid transparent;
                border-right: 10px solid #fff;
            }
        }
    }
    .person {
        position: absolute;
        top: -20%;
        right: 100px;
    }
}

.guides__section {
    margin-top: 40px;
    .guides__title {
        @include section-title;
        // font-size: 16px;
        letter-spacing: 1px;
        color: $t-color;
        font-weight: 800;
        font-family: $m-font;
        padding-right: 0%;
        span{
            width: 20px;
            height: 16px;
        }
        mark {
            &::before {
                border-width: 0 0 31px 10px;
            }
            &::after {
                border-width: 31px 10px 0 0;
            }
        }
    }
    .guides__items {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        &_i {
            margin-bottom: 5px;
            padding: 25px 0 25px 5px;
            border-radius: 5px;
            filter: drop-shadow(0px -6px 8px rgba(59, 59, 59, 0.05));
            background-color: #ffffff;
            font-size: 16px;
            letter-spacing: 0px;
            color: $t-color;
            font-family: $m-font;
            font-weight: 800;
            text-decoration: none;
            font-style: italic;
            &:hover {
                text-decoration: underline;
            }
            text-align: left;
        }
        text-align: center;
        .more__guides {
            margin-top: 10px;
            font-size: 14px;
            letter-spacing: 0px;
            color: #919191;
            font-family: $m-font;
            font-style: italic;
        }
    }
}

// @import "../commons/footer.scss";
