.login{
  margin-top: 80px;
  padding-top: 30px;
  &_content{
    .login_title{
      text-align: center;
    }
    .tg_login_btn{
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  .login_sidebar{
    display: none;
  }
}

.login_page{

}
