.paid__section {
    .section_header {
        display: flex;
        justify-content: space-between;
        .paid__title {
            @include section-title;
        }
        .paid__title_description {
            font-size: 16px;
            letter-spacing: 0px;
            color: #adadad;
            font-family: $m-font;
        }
        .forecast__switcher {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            margin-top: 16px;
            width: 100%;
            border-radius: 5px;
            filter: drop-shadow(0px -6px 8px rgba(59, 59, 59, 0.05));
            background-color: #ffffff;
            border: 1px solid #e8e8e8;
            overflow: hidden;
            box-sizing: border-box;
            .forecast_type {
                font-size: 14px;
                letter-spacing: 0px;
                line-height: 30px;
                color: $t-color;
                font-family: $m-font;
                text-align: center;
                padding: 3px 20px;
                position: relative;
                font-weight: 800;
                text-decoration: none;
                &.active {
                    background-color: $y-color;
                }
                &:nth-child(1).active::before {
                    content: '';
                    display: inline-block;
                    height: 0;
                    width: 0;
                    border-bottom: 40px solid transparent;
                    border-top: 0 solid transparent;
                    border-left: 16px solid $y-color;
                    position: absolute;
                    top: 0;
                    right: -14px;
                }
                &:nth-child(2).active::after {
                    content: '';
                    display: inline-block;
                    height: 0;
                    width: 0;
                    border-bottom: 0 solid transparent;
                    border-top: 40px solid transparent;
                    border-right: 16px solid $y-color;
                    position: absolute;
                    top: 0;
                    left: -14px;
                }
            }
        }
    }
    .paid__items {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        &_i {
            &.displayed {
                transform: translateX(0%);
                visibility: visible;
                opacity: 1;
            }
            width: calc(100% / 3 - 15px);
            flex-basis: auto;
            &:not(:last-child) {
                margin-right: 10px;
            }
            margin-top: 40px;
            filter: drop-shadow(0px -6px 8px rgba(59, 59, 59, 0.05));
            background-color: #ffffff;
            padding: 0;
            transition: .3s;
            transform: translateX(-100%);
            visibility: hidden;
            opacity: 0;

            .discount {
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(15%, -50%);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 82px;
                height: 82px;
                border-radius: 50%;
                filter: drop-shadow(0px -6px 8px rgba(59, 59, 59, 0.05));
                background-color: #ffe62e;
                border: 5px solid #ffee73;
                font-size: 16px;
                letter-spacing: 0px;
                line-height: 17px;
                color: $t-color;
                font-family: $m-font;
                font-weight: 800;
                text-align: center;
                &_percentage {
                    font-size: 1.5rem;
                    margin-top: 5px;
                }
            }
            .item_header {
                width: 100%;
                font-size: 24px;
                letter-spacing: 1px;
                line-height: 30px;
                font-weight: 800;
                color: $w-color;
                font-family: $m-font;
                text-align: center;
                background-color: $b-color;
                padding: 22px 0;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }
            .item_content {
                .item_price {
                    position: relative;
                    .actual_price {
                        display: inline-block;
                        width: 100%;
                        left: 0;
                        top: 0;
                        position: absolute;
                        font-size: 16px;
                        letter-spacing: 0px;
                        line-height: 30px;
                        text-decoration: line-through;
                        color: #ababab;
                        font-weight: bold;
                        font-family: $m-font;
                        text-align: center;
                    }
                    font-size: 33px;
                    letter-spacing: 1px;
                    line-height: 30px;
                    color: #3b3b3b;
                    font-weight: 800;
                    font-family: $m-font;
                    text-align: center;
                    font-style: italic;
                    padding-top: 30px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #f6f6f6;
                }
                .list {
                    padding-right: 25px;
                    padding-right: 25px;
                    .list_item {
                        font-size: 14px;
                        letter-spacing: 0px;
                        line-height: 30px;
                        color: #9f9f9f;
                    }
                    text-align: left;
                }
                text-align: center;
                padding-bottom: 30px;
                .item_buy_btn {
                    display: inline-block;
                    @include morebtn;
                    color: #000;
                    filter: drop-shadow(0px -6px 8px rgba(255, 230, 46, 0.22));
                    background-color: #ffe62e;
                    margin-top: 30px;
                }
            }
        }
    }
    .forecasts_by_period {
        width: calc(100%);
        margin-right: auto;
        margin-left: 10px;
        background-color: unset;
        background-image: url("/imgs/cloud.png");
        background-repeat: no-repeat;
        background-position-x: right;
        background-size: 0%;

        .item_banner {
            position: relative;
            background-color: #fff;
            padding-left: 30px;
            padding-top: 30px;
            padding-bottom: 5px;
            border-radius: 5px;
            background-image: url("/imgs/cloud.png");
            background-position-x: right;
            background-repeat: no-repeat;
            .telegram_lg_icon {
                position: absolute;
                right: 0;
                top: -40px;
            }
            .item_title {
                @include section-title;
                font-size: 36px;
                letter-spacing: 1px;
                color: $t-color;
                font-weight: 800;
                font-family: $m-font;
                padding-right: 30%;
                text-transform: none;
                margin-left: 0;
                .item_type {
                    position: relative;
                    &::before {
                        position: absolute;
                        content: '';
                        display: inline-block;
                        left: 10px;
                        width: 7px;
                        background-color: #67c40c;
                        height: 7px;
                        border-radius: 4px;
                    }
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 13px;
                    letter-spacing: 0px;
                    color: #67c40c;
                    font-family: "Proxima Nova";
                    border-radius: 15px;
                    background-color: #f3f3f3;
                    padding: 0px 10px;
                    padding-left: 25px;
                    margin-left: auto;
                    max-height: 24px;
                    &.red {
                        color: red;
                        &::before {
                            background-color: #c4220d;
                        }
                    }
                }
            }
            .item_description {
                padding-right: 50%;
                font-size: 16px;
                letter-spacing: 0px;
                color: #adadad;
                font-family: $m-font;
            }
            .item_stats {
                display: flex;
                border-top: 1px solid $bor-color;
                padding-top: 5px;
                .stats_bets {
                    border-left: 1px solid $bor-color;
                    padding-left: 10px;
                }
                .stats_bank,
                .stats_bets {
                    display: inline-flex;
                    padding-right: 3%;
                    font-style: italic;
                    span:first-child {
                        font-size: 16px;
                        letter-spacing: 0px;
                        color: $t-color;
                        font-family: $m-font;
                        font-weight: 800;
                        padding-right: 2%;
                    }
                    .yellow_text {
                        color: $y-color;
                        font-size: 36px;
                        letter-spacing: 1px;
                        font-weight: 800;
                        white-space: nowrap;
                    }
                }
            }
        }

        .forecasts_by_period__items {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;

            &_i {
                padding: 20px 15px;
                background-color: #fff;
                border-radius: 5px;
                width: calc(100% / 4 - 30px);
                // margin-right: 15px;
                margin-bottom: 15px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: inherit;
                .item_discount_percent {
                    @include section-title;
                    position: absolute;
                    color: var(--text-color);
                    font-family: var(--main-font);
                    font-size: 14px;
                    font-weight: 700;
                    font-family: var(--main-font);
                    font-weight: 800;
                    letter-spacing: 0.53px;
                    font-style: italic;
                    margin-left: 18px;
                    text-transform: uppercase;
                    right: -20px;
                    top: -5px;
                    padding: 0px 8px;
                    color: var(--text-color);
                    font-family: var(--main-font);
                    font-weight: 800;
                    letter-spacing: 1px;
                    mark {
                        padding: 3px 5px;
                        &::before {
                            border-bottom-width: 27px;
                        }
                        &::after {
                            border-bottom-width: 42px;
                        }
                    }
                }
                .item_period {
                    font-size: 16px;
                    letter-spacing: 0px;
                    color: #adadad;
                    font-family: $m-font;
                }
                .item_price {
                    position: relative;
                    .actual_price {
                        position: absolute;
                        top: -14px;
                        left: 0;
                        display: inline-flex;
                        text-align: center;
                        font-weight: 400;
                        font-size: 14px;
                        letter-spacing: 0px;
                        color: #adadad;
                        font-family: $m-font;
                        text-decoration: line-through;
                    }
                    font-size: 14px;
                    letter-spacing: 1px;
                    color: $t-color;
                    font-weight: 800;
                    font-family: "Proxima Nova";
                    margin-top: 20px;
                }
                // text-align: center;
                .item_btn {
                    @include morebtn;
                    // border-radius: 5px;
                    box-shadow: 0 0px 7px rgba(0, 36, 24, 0.32), inset 0 -5px 0 2px rgba(0, 0, 0, 0.2);
                    filter: drop-shadow(0px 0px 2px rgba(0, 136, 204, 0.16));
                    background-color: #35ace0;
                    margin-top: 5px;
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                    padding: 12px 10px;
                    font-size: 11px;
                }
            }
        }
    }
}


@media (min-width: 768px) {
    .w-md-100 {
       width:100% !important;
    }
    .w-md-75 {
       width:100% !important;
    }
    .w-md-50 {
       width:100% !important;
    }
    .w-md-25 {
       width:100% !important;
    }
  }
