.profile_page, .login_page, .register_page{
    .form-control{
        &:focus{
            outline: -webkit-focus-ring-color auto 0px;
            color: #495057;
            background-color: #fff;
            border-color: #f3d603 !important;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(255, 229, 33, 0.21);
            border-top-color: #f3d603;
        }
    }
}
