.stat__section{
  .stat__title{
    @include section-title;
  }

  .stat__title_description{
    font-size: 16px;
    letter-spacing: 0px;
    color: #adadad;
    font-family: $m-font;
  }

  .stat__items{
    display: flex;
    justify-content: space-around;
    &_i{
      width: calc(100% / 3 - 25px);
      padding: 25px 12px;
      border-radius: 10px;
      filter: drop-shadow(0px -6px 8px rgba(59,59,59,0.05));
      background-color: #ffffff;
      text-align: center;
      margin-right: 15px;


      &.stavka_dnya,
      &.jelezka{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .item_title{
          @include section-title;
          margin-top: 20px;
        }

        .flex-wrapper {
          display: flex;
          flex-flow: row nowrap;
        }

        .single-chart {
          width: 80%;
          justify-content: space-around ;
          .circular-chart {
            display: block;
            margin: 0px auto;
            max-width: 80%;
            max-height: 250px;
            .circle-bg {
              fill: none;
              stroke: #eee;
              stroke-width: 2;
            }

            .circle {
              fill: none;
              stroke-width: 2;
              stroke-linecap: square;
              animation: progress 1s ease-out forwards;
            }

            .progress_text{
              font-size: 48px;
              letter-spacing: 1px;
              color: #3978cf;
              font-family: $m-font;
              font-weight: 800;
            }
            .percentage {
              fill: #3978cf;
              font-family: $m-font;
              font-size: 0.5em;
              text-anchor: middle;
            }
            &.yellow .circle {
              stroke: $y-color;
            }
          }
        }

        @keyframes progress {
          0% {
            stroke-dasharray: 0 100;
          }
        }

        .item_description{
          font-size: 16px;
          letter-spacing: 0px;
          color: #adadad;
          font-family: $m-font;
          text-align: center;
          padding: 0 15%;
        }
      }

      &.forecasts__numbers{

        .widget_title{
          @include section-title;
          mark{
            &::before{
              border-width: 0 0 36px 10px;
            }

            &:after{
              border-width: 37px 10px 0 0;
            }

          }

          margin-left: 0;
          font-size: 20px;
          letter-spacing: 1px;
          line-height: 30px;
          color: $t-color;
          font-weight: 800;
          text-align: center;
        }


        #paid_forecasts-date{
          font-size: 14px;
          letter-spacing: 0px;
          line-height: 30px;
          color: #adadad;
          font-family: $m-font;
          text-align: center;
          font-style: italic;
          border: 0;
          outline: 0;
          background-color: transparent;
        }
        .forecast__switcher{

          display: flex;
          justify-content: space-between;
          margin: 0 auto;
          margin-top: 16px;
          width: 90%;
          border-radius: 5px;
          filter: drop-shadow(0px -6px 8px rgba(59,59,59,0.05));
          background-color: #ffffff;
          border: 1px solid #e8e8e8;
          overflow: hidden;
          box-sizing: border-box;
          .forecast_type{
            font-size: 14px;
            letter-spacing: 0px;
            line-height: 30px;
            color: $t-color;
            font-family: $m-font;
            text-align: center;
            padding: 3px 20px;
            position: relative;
            font-weight: 800;
            text-decoration: none;

            &.active{
              background-color: $y-color;

            }
            &:nth-child(1).active::before{
              content: '';
              display: inline-block;
              height: 0;
              width: 0;
              border-bottom: 40px solid transparent;
              border-top: 0 solid transparent;
              border-left: 16px solid $y-color;
              position: absolute;
              top: 0;
              right: -14px;
            }
            &:nth-child(2).active::after{
              content: '';
              display: inline-block;
              height: 0;
              width: 0;
              border-bottom: 0 solid transparent;
              border-top: 40px solid transparent;
              border-right: 16px solid $y-color;
              position: absolute;
              top: 0;
              left: -14px;
            }

          }

        }

        .bet__items{
          margin-top: 25px;
          .bet__item{
            margin-bottom: 5px;
            font-size: 14px;
            letter-spacing: 0px;
            line-height: 30px;
            color: $t-color;
            font-family: $m-font;
            text-align: center;
            font-weight: 800;
            width: 100%;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 8px;
            filter: drop-shadow(0px -6px 8px rgba(59,59,59,0.05));
            background-color: #f5f5f5;
            border: 1px solid #e8e8e8;
            overflow: hidden;
            i{
              font-weight: 400;
              margin-right: auto;
              margin-left: 2px;
            }
            padding-left: 12px;
            .yellow_corner{
              background-color: $y-color;
              padding: 3px 12px;
              display: inline-block;
              position: relative;
              &::before{
                content: '';
                display: inline-block;
                height: 0;
                width: 0;
                border-bottom: 0 solid transparent;
                border-top: 40px solid transparent;
                border-right: 16px solid $y-color;
                position: absolute;
                top: 0;
                left: -16px;
              }
            }

          }
        }
      }
    }
  }


}


.stats_section{
  margin-top: 30px;
  .stats__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
    &_title{
      font-size: 14px;
    }

    #stats_data-controls{
      display: none;
      & > *{
        outline: 0;

        &:hover{
          .text-secondary{
            color: #000 !important;
          }
        }
      }
      .prev{
        margin: 0;
        padding: 0;
        width: 72px;
        height: 32px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-image: url("/imgs/prev-control.svg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: -15px;
      }

      .next{
        margin: 0;
        padding: 0;
        width: 72px;
        height: 32px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-image: url("/imgs/prev-control.svg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: -15px;
      }
    }
  }
}
.stats_data__section{
  margin-top: 0px;
  border-radius: 10px;
  filter: drop-shadow(0px -6px 8px rgba(59,59,59,0.05));
  background-color: #ffffff;
  width: 100%;
  padding: 22px 35px;
  margin-right: 15px;
  scroll-behavior: smooth;
  .stats_data__table{

    .data_row{
        &:first-child{
            .data_item{
                font-weight: bold;
            }
        }
      display: flex;
      justify-content: space-between;
      padding: 12px 0;
      &:not(:last-child){
        border-bottom: 1px solid #f6f6f6;
      }
      .data_item{
        width: calc(100% / 6);
        font-size: 12px;
        letter-spacing: 0px;
        color: #838383;
        font-weight: 600;
        font-family: "Proxima Nova";
        text-transform: uppercase;
        text-align: left;

        &.link{
          a{
            color: #2c87cc;
            text-decoration: none;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }

      &.success{
        .data_item{
          &.result{
            color: #0edd2a;
            letter-spacing: 0px;
            svg{
              color: #0edd2a;
            }
          }

        }
      }
      &.fail{
        .data_item{
          &.result{
            color: #ff0000;
            letter-spacing: 0px;
            svg{
              color: #ff0000;
            }
          }

        }
      }
    }
  }
}
