// .free-theories__section
.paid-theories__section {
    margin-top: 63px;
    .paid-forecast__title {
        @include section-title;
    }
    .paid-theories__items {
        margin: 0;
        margin-top: 33px;
        display: grid;
        grid-template-columns: 1fr;
        .column1,
        .column2 {
            padding: 0;
        }
        &_i {
            &:not(:first-child) {
                margin-top: 26px;
            }
            padding: 14px 16px;
            box-shadow: 0 -6px 16px rgba(55, 123, 207, 0.1);
            border-radius: 10px;
            background-color: $w-color;
            display: flex;

            position: relative;
            .item_rating {
                position: absolute;
                @include section-title;
                right: -20px;
                top: -15px;
                padding: 5px 8px;
                color: $t-color;
                font-family: $m-font;
                font-size: 14px;
                font-weight: 800;
                // Text style for "Рейтинг: 4"
                letter-spacing: 0.35px;
                mark {
                    &::before {
                        border-bottom-width: 27px;
                    }
                }
            }
            .item_image {
                width: 50%;
                img {
                    width: 100%;
                    // height: 100%;
                }
            }
            .item_content {
                // flex-basis: 35%;
                // width: 75%;
                padding-left: 30px;
                padding-top: 16px;
                .item_title {
                    color: $t-color;
                    font-family: $m-font;
                    font-size: 22px;
                    font-weight: 900;
                    font-style: italic;
                    // Text style for "СТРАТЕГИЯ"
                    letter-spacing: 0.55px;
                }
                .item_description {
                    margin-top: 10px;
                    color: #919191;
                    font-family: $m-font;
                    font-size: 13px;
                    font-weight: 800;
                    // Text style for "С, егодня"
                    line-height: 1em;
                    letter-spacing: 0.33px;
                }
                .item_footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .gototheory {
                        @include morebtn;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                    .item_views {
                        color: #bcbcbc;
                        font-family: $m-font;
                        font-size: $rf-size;
                        font-weight: 800;
                        line-height: 43px;
                        text-transform: uppercase;
                        // Text style for "2 543"
                        letter-spacing: 0.3px;
                    }
                }
            }
            &.tall {
                margin-left: 20px;
                flex-direction: column;
                padding: 0;
                .item_rating {
                    right: unset;
                    left: -25px;
                    top: 15px;
                }
                .item_image {
                    // width: 35%;
                    img {
                        width: 100%;
                        // height: 100%;
                    }
                }
                position: relative;
                .item_content {
                    padding: 20px 15px;
                    position: absolute;
                    bottom: 0;
                    .item_title {
                        color: $w-color;
                        text-align: right;
                        font-family: $m-font;
                        font-size: 30px;
                        font-weight: 800;
                        // Text style for "СТРАТЕГИЯ"
                        color: $w-color;
                        letter-spacing: 0.75px;
                        // Text style for "«ТОТАЛ БОЛ"
                        letter-spacing: 0.75px;
                        mark {
                            color: $y-color;
                            background-color: transparent;
                        }
                    }
                    .item_description {
                        display: none;
                    }
                    .item_footer {
                        .item_views {
                            order: 1;
                            color: $y-color;
                        }
                        .gototheory {
                            order: 2;
                            padding: 7px 25px;
                        }
                    }
                }
            }
        }
        &.wide {
            display: block;
        }
    }
}

// .free-theories__section
.free-theories__section {
    margin-top: 33px;
    .free-forecast__title {
        @include section-title;
    }
    .free-theories__items {
        margin: 0;
        margin-top: 33px;
        display: grid;
        grid-template-columns: 1fr;
        .column1,
        .column2 {
            padding: 0;
        }
        &_i {
            &:not(:first-child) {
                margin-top: 26px;
            }
            padding: 14px 16px;
            box-shadow: 0 -6px 16px rgba(55, 123, 207, 0.1);
            border-radius: 10px;
            background-color: $w-color;
            display: flex;
            column-width: 1;
            position: relative;
            .item_rating {
                position: absolute;
                @include section-title;
                right: -20px;
                top: -15px;
                padding: 5px 8px;
                color: $t-color;
                font-family: $m-font;
                font-size: 14px;
                font-weight: 800;
                // Text style for "Рейтинг: 4"
                letter-spacing: 0.35px;
                mark {
                    &::before {
                        border-bottom-width: 27px;
                    }
                }
            }
            .item_image {
                // width: 35%;
                img {
                    width: 100%;
                    // height: 100%;
                }
            }
            .item_content {
                // flex-basis: 35%;
                // width: 75%;
                padding-left: 30px;
                padding-top: 16px;
                .item_title {
                    color: $t-color;
                    font-family: $m-font;
                    font-size: 22px;
                    font-weight: 900;
                    font-style: italic;
                    // Text style for "СТРАТЕГИЯ"
                    letter-spacing: 0.55px;
                }
                .item_description {
                    margin-top: 10px;
                    color: #919191;
                    font-family: $m-font;
                    font-size: 13px;
                    font-weight: 800;
                    // Text style for "С, егодня"
                    line-height: 1em;
                    letter-spacing: 0.33px;
                }
                .item_footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .gototheory {
                        @include morebtn;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                    .item_views {
                        color: #bcbcbc;
                        font-family: $m-font;
                        font-size: $rf-size;
                        font-weight: 800;
                        line-height: 43px;
                        text-transform: uppercase;
                        // Text style for "2 543"
                        letter-spacing: 0.3px;
                    }
                }
            }
            &.tall {
                margin-left: 20px;
                flex-direction: column;
                padding: 0;
                .item_rating {
                    right: unset;
                    left: -25px;
                    top: 15px;
                }
                .item_image {
                    // width: 35%;
                    img {
                        // width: 100%;
                        height: 100%;
                    }
                }
                position: relative;
                .item_content {

                    width: 100%;
                    padding: 20px 15px;
                    position: absolute;
                    bottom: 0;
                    .item_title {
                        color: $w-color;
                        text-align: right;
                        font-family: $m-font;
                        font-size: 30px;
                        font-weight: 800;
                        // Text style for "СТРАТЕГИЯ"
                        color: $w-color;
                        letter-spacing: 0.75px;
                        // Text style for "«ТОТАЛ БОЛ"
                        letter-spacing: 0.75px;
                        mark {
                            color: $y-color;
                            background-color: transparent;
                        }
                    }
                    .item_description {
                        display: none;
                    }
                    .item_footer {
                        .item_views {
                            order: 1;
                            color: $y-color;
                        }
                        .gototheory {
                            order: 2;
                            padding: 7px 25px;
                        }
                    }
                }
            }
        }
    }
}
