:root {
  // --main-bg-color: coral;
  --regular-font-size: 12px;
  --main-font: 'Proxima Nova', sans-serif;
  --main-font-semibold: 'Proxima Nova', sans-serif;
  --white-color: #fff;
  --yellow-color: #ffe62e;
  --text-color: #3b3b3b;
  --red-color: #d24a43;
  --green-color: #67c40c;
  --blue-color: #397acf;
  --border-color: #f6f6f6;
  --grid-wide: 1320px;
}


$m-font: var(--main-font);
$w-color: var(--white-color);
$y-color: var(--yellow-color);
$r-color: var(--red-color);
$g-color: var(--green-color);
$b-color: var(--blue-color);
$bor-color: var(--border-color);
$t-color: var(--text-color);
$rf-size: var(--regular-font-size);
$g-wide: var(--grid-wide);

@import "typography.scss";
@import "mixins.scss";

html{
    scroll-behavior: smooth;
}

body{
  box-shadow: 0 -6px 16px rgba(61, 111, 228, 0.25);
  background-color: #f3f3f3;
  overflow-x: hidden;

}

.wrapper{
  width: $g-wide;
  margin: 0 auto;
  margin-top: 60px;
}


.arrow_up{
    width: 32px;
    height: 32px;
    display: inline-block;
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 999;
    transform: rotateZ(90deg);
    background-size: cover;
    cursor: pointer;
    background-image: url("/imgs/arrow-up.png");
}


.main_container table th {background:#eee;font-weight:500;padding-top:10px; padding-bottom: 10px;}
.main_container table td.title, .main_container table th.title {text-align:left;font-weight: 500; white-space: nowrap;}
.main_container table tr.table_header {background:#c9481c;color:#fff;text-align:left;}


.new_forecasts_table {display: table; width: 100%;border-spacing: 0 1px;margin-top:-1px;line-height:1.6;}
.new_forecasts_table a {display:table-row;color:#1d1b1b;font-size:13px;}
.new_forecasts_table a:hover {text-decoration:none; color:#298acb !important;}
.new_forecasts_table a:nth-child(odd) {background:#c7c7c7; color: #000;}
.new_forecasts_table a div {padding: 4px; display:table-cell;vertical-align:middle;}
.new_forecasts_table a div:nth-child(2) {padding:4px 15px 4px 5px;}

.new_forecasts_table a.vip:hover{ color:#DB1403;background:#fff;}
.new_forecasts_table a.premium:hover{background:#eee; color: #327BB8;}
/*a.premium .date_td {position: relative;}
a.premium .date_td:before {
    content: "";
    width: 20px;
    height: 20px;
    background: url(images/tip/best_icon.png) 50%/cover;
    position: absolute;
	top:0;
    right:0;
    margin: -9px -5px 0 0;
}*/
.new_forecasts_table a.table_suffix {outline: 1px solid #000;font-weight: bold;}
.new_forecasts_table a.premium img {display: inline-block; vertical-align: middle; height: 19px;}
.new_forecasts_table a.vip{ background:#DB1403;color:#fff;}
.new_forecasts_table a.premium{ background: #327BB8;color:#fff;}
.new_forecasts_table a.table_suffix > div {border-top:1px solid #fff;  border-bottom: 1px solid #fff;padding-top:4px;padding-bottom: 4px;}
.new_forecasts_table .table_suffix > div:first-child {
    border-left: 1px solid #fff;
}
.new_forecasts_table .table_suffix > div:last-child {
    border-right: 1px solid #fff;
}
.new_forecasts_table a div.rate {padding:4px 15px 4px 5px;}
.new_forecasts_table .date_td {white-space: nowrap;}
.new_forecasts_table .no-timer {text-align:right;}

.new_forecasts_table a.table_header {
    background: #298acb ;
    color: #fff;
    outline: 1px solid #ccc;
}

p.hint {
    a{
        font-size: 14px;
        background-color: #eee;
        border: 1px solid #e8e8e8;
        padding: 2px 5px;
    }
    text-align: left;
    font-size: 10px;
    margin: 5px 0 0;
}

@media screen and (max-width: 992px){
    .new_forecasts_table a div:nth-child(1),
    .new_forecasts_table a div:nth-child(2),
    .new_forecasts_table a div:nth-child(3),
    .new_forecasts_table a div:nth-last-child(2) {display:none;}
    .new_forecasts_table .table_header div:nth-child(2), .new_forecasts_table a div:nth-child(2) {padding: 4px;}
}
@media (min-width: 992px){
    .mt-lg-5{
        margin-top: 5rem !important;
    }
    .mt-lg-3{
        margin-top: 3rem !important;
    }
    .pt-lg-5{
        padding-top: 5rem !important;
    }
    .pt-lg-5{
        padding-top: 3rem !important;
    }
}
