
@mixin morebtn{
  box-shadow: 0 0px 16px rgba(0, 36, 24, 0.32), inset 0 -5px 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #466bd3;
  padding: 12px 48px;
  text-decoration: none;
  color: $w-color;
  font-family: $m-font;
  font-size: $rf-size;
  font-weight: 800;
  text-transform: uppercase;
  // Text style for "Подробнее"
  letter-spacing: 0.45px;
  display: inline-block;
  transition: .3s;
  cursor: pointer;
  &:hover{
    box-shadow: 0 2px 15px 6px rgba(0, 136, 204, 0.22), inset 0 -5px 0 2px rgba(0, 0, 0, 0.3);
  }
}

@mixin section-title{
  // Style for "БЕСПЛАТНЫЕ"
  color: $t-color;
  font-family: $m-font;
  font-size: 21px;
  font-weight: 700;
  // Text style for "БЕСПЛАТНЫЕ"
  font-family: $m-font;
  font-weight: 800;
  letter-spacing: 0.53px;
  // Text style for "ПРОГНОЗЫ"
  font-style: italic;
  margin-left: 18px;
  text-transform: uppercase;
  mark{
    box-shadow: 0 -6px 16px rgba(255, 230, 46, 0.29);
    background-color: $y-color;
    display: inline-block;
    position: relative;
    padding: 3px 0px;
    margin-right: 5px;
    color: $t-color;
    &::before{
      content: '';
      top: 0;
      display: inline-block;
      position: absolute;
      left: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 31px 10px;
      border-color: transparent transparent $y-color transparent;
    }
    &::after{
      content: '';
      top: 0;
      display: inline-block;
      position: absolute;
      right: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 10px 0 0;
      border-color: $y-color transparent transparent transparent;
    }
  }
}


@mixin green {
  color: $g-color;
  .dot{
    background-color: $g-color;
  }
}

@mixin red {
  color: $r-color;
  .dot{
    background-color: $r-color;
  }
}


.tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
