.item_content{
    & > p {
            img, audio, figure, video {
            max-width: 100% !important;
        }
    }
}

// header
@media screen and (max-width: 979px)
/* Tablet */

{
    body {
        // background: blue;
    }
    .row {
        --bs-gutter-x: unset;
    }
    .wrapper {
        width: 100%;
        // margin: 0 auto;
    }
    .bg-custom {
        box-shadow: 0 -6px 16px rgba(0, 181, 231, 0.1);
        background-image: linear-gradient(-268deg, #525ed6 0%, #298acb 100%);
        // height: 70px;
        padding: 0;
        .header {
            width: 100%;
            overflow: unset;
            align-items: center !important;
            flex-direction: row;
            flex-wrap: nowrap;
            display: inline-flex;
            justify-content: space-between;
            // padding-right: 0;
            // padding-left: 0;
            max-width: 100%;
            .logo {
                height: 60px;
                width: 60px;
                &_img {
                    height: 100%;
                }
                .navbar-brand {
                    position: static;
                    margin-right: 0rem;
                }
                display: flex;
                justify-content: space-between;
                order: 2;
            }
            position: relative;
            .navbar__menu {
                margin-left: unset;
                display: flex; // flex
                flex-direction: column;
                opacity: 0;
                visibility: hidden;
                width: 100%;
                position: absolute;
                top: 60px;
                right: 0;
                box-shadow: 0 -6px 16px rgba(0, 181, 231, 0.1);
                background-image: linear-gradient(-268deg, #525ed6b0 0%, #298acb 100%);
                z-index: 99;
                padding: 10px 5px;
                transition: .1s;
                .menu_link {
                    color: $w-color;
                    // font-family: $m-font;
                    padding: 10px 5px;
                    font-size: $rf-size;
                    font-weight: 800;
                    margin-right: 0px;
                    text-decoration: none;
                    text-align: center;
                    position: relative;
                    width: 0;
                    overflow: hidden;
                    // transition: .3s;
                    &:hover {
                        // text-decoration: underline;
                        &:before {
                            opacity: 1;
                            height: 1px;
                        }
                    }
                    &:nth-child(1) {
                        transition: .1s;
                    }
                    &:nth-child(2) {
                        transition: .2s;
                    }
                    &:nth-child(3) {
                        transition: .3s;
                    }
                    &:nth-child(4) {
                        transition: .4s;
                    }
                    &:nth-child(5) {
                        transition: .5s;
                    }
                }
                &.active {
                    visibility: visible;
                    opacity: 1;
                    .menu_link {
                        width: 100%;
                        overflow: visible;
                    }
                }
            }
            &__buttons {
                order: 1;
                .login_button {
                    padding: 6px 10px;
                }
            }
            .hamburger {
                order: 3;
                display: inline-flex;
                color: #fff;
                justify-content: center;
                align-content: center;
                height: 100%;
                padding-top: 5px;
                svg {
                    font-size: 2em;
                }
            }
            .ask_question {
                display: none;
            }
        }
    }
    // header
    // footer
    .footer {
        padding: 36px 0;
        margin-top: 50px;
        &__container {
            width: 100%;
            margin: 0 auto;
            .footer__block {
                display: flex;
                justify-content: space-between;
                flex-direction: column-reverse;
                &__item {
                    width: 100%;
                    margin-bottom: 30px;
                    .widget_title {
                        text-align: center;
                    }
                    .navbar__menu {
                        margin-top: 20px;
                        // display: flex;
                        // justify-content: flex-start;
                        // flex-wrap: wrap;
                        column-count: 1;
                        width: calc(100%);
                        max-width: 100%;
                        padding-left: 0px;
                    }
                    .contact__form {
                        margin-left: 0px;
                        margin-top: 20px;
                        .inline-group {
                            flex-direction: column;
                            input {
                                width: 100%;
                                margin-top: 20px;
                            }
                        }
                    }
                    &:nth-child(1) {
                        text-align: center;
                        .copyright {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    // footer
}

// tariffs
@media screen and (max-width: 979px)
/* Tablet */

{
    .paid__section {
        .forecasts_by_period {
            margin-left: 0px;
        }
    }
    .telegram_lg_icon {
        width: 35% !important;
    }
    .item_description,
    .item_title {
        padding-right: 5% !important;
    }
    .item_stats {
        flex-direction: column;
        .stats_bets {
            padding-left: 0 !important;
        }
    }
}

.mobile-profile {
    display: none;
}

// cabinet
@media screen and (max-width: 979px)
/* Tablet */

{
    .mobile-profile {
        display: block !important;
        margin-bottom: 30px;
    }
    .desktop-profile {
        display: none !important;
    }
    // .zoom_modal {
    //     // img {
    //     //     width: 100%;
    //     // }
    // }
}

@media screen and (max-width: 979px)
/* Tablet */

{
    // content
    .content {
        // padding: 0;
    }
    .slider__section {
        .main-slider {
            margin-top: 50px;
            height: 250px;
            .slider__item {
                .inner_wrapper {
                    position: absolute;
                    padding: 20px;
                    z-index: 1;
                    top: 0;
                    left: 0;
                }
                &_image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 0;
                    width: 100%;
                    // height: 100%;
                }
                &::after {
                    position: absolute;
                    padding: 60px 80px 50px 80px;
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 32%, #000000cc 88%, #000000cc 94%);
                    display: block;
                    left: 0;
                    top: 0;
                    z-index: 0;
                }
                &_title {
                    text-align: left;
                    font-size: 24px;
                    width: 100%;
                    .match_score {}
                }
                &_text {
                    width: 100%;
                    text-align: left;
                }
                text-align: center;
                &_morebtn {
                    @include morebtn;
                    margin-top: 20px;
                    padding: 15px 80px;
                }
            }
        }
        position: relative;
        .tns-outer [aria-controls],
        .tns-outer [data-action] {
            display: none;
        }
        #custom-main-slider-controls {
            position: absolute;
            right: 0px;
            top: 3%;

            .prev,
            .next {
                margin: 0;
                padding: 0;
                width: 72px;
                height: 33px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background-image: url("/imgs/prev-control.svg");
                background-repeat: no-repeat;
                background-size: cover;
                margin-left: -15px;
                &:focus {
                    outline: 0;
                    border: 0;
                }
                .text-secondary {
                    transition: .3s;
                }
                &:hover {
                    .text-secondary {
                        color: #000 !important;
                    }
                }
            }
        }
    }
    .free-forecast__section {
        margin-top: 33px;
        .free-forecast__title {
            @include section-title;
        }
        .free-foreacast__items {
            justify-content: space-between;
            .free-forecast__items_i {
                flex-basis: calc(100%);
                max-width: unset;
                padding: 0 0 12px 0;
                margin-top: 15px;
                .item_image {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    // .free-theories__section
    .free-theories__section {
        margin-top: 33px;
        .free-forecast__title {
            @include section-title;
        }
        .free-theories__items {
            margin: 0;
            margin-top: 33px;
            display: grid;
            grid-template-columns: 1fr;
            .column1,
            .column2 {
                padding: 0;
            }
            &_i {
                &:not(:first-child) {
                    margin-top: 26px;
                }
                flex-direction: column;
                .item_rating {
                    right: -0px;
                }
                .item_image {
                    width: 100%;
                    img {
                        width: 100%;
                        // height: 100%;
                    }
                }
                .item_content {
                    // flex-basis: 35%;
                    width: 100%;
                    padding-left: 0px;
                    padding-top: 16px;
                    .item_title {
                        color: $t-color;
                        font-family: $m-font;
                        font-size: 22px;
                        font-weight: 900;
                        font-style: italic;
                        // Text style for "СТРАТЕГИЯ"
                        letter-spacing: 0.55px;
                    }
                    .item_description {
                        margin-top: 10px;
                        color: #919191;
                        font-family: $m-font;
                        font-size: 13px;
                        font-weight: 800;
                        // Text style for "С, егодня"
                        line-height: 1em;
                        letter-spacing: 0.33px;
                    }
                    .item_footer {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .gototheory {
                            @include morebtn;
                            padding-top: 10px;
                            padding-bottom: 10px;
                        }
                        .item_views {
                            color: #bcbcbc;
                            font-family: $m-font;
                            font-size: $rf-size;
                            font-weight: 800;
                            line-height: 43px;
                            text-transform: uppercase;
                            // Text style for "2 543"
                            letter-spacing: 0.3px;
                        }
                    }
                }
                &.tall {
                    margin-left: 0px;
                    margin-top: 20px;
                    .item_image {
                        // width: 35%;
                        img {
                            width: 100%;
                            // height: 100%;
                        }
                    }
                    position: relative;
                }
            }
        }
    }
    // .ad_banner
    .ad_banner__section {
        margin-top: 60px;
        border-radius: 10px;
        // background: rgb(0,92,234);
        // border: 10px solid ;
        padding: 37px 18px;
        height: 600px;
        position: relative;
        &::before {
            padding: 37px 68px;
            background: linear-gradient(180deg, rgba(0, 92, 234, 1) 0%, rgba(0, 198, 251, 1) 100%);
            clip-path: polygon(0% 0%, 0% 100%, 3% 100%, 3% 2%, 97% 2%, 97% 98%, 4% 98%, 1.5% 95%, 1.5% 100%, 100% 100%, 100% 0%);
            border-radius: 10px;
        }
        &::after {
            right: 3%;
            top: 1.8%;
            width: 50%;
            height: 96.5%;
        }
        .banner_content {
            z-index: 2222;
            height: inherit;
            .telegram_channel {
                right: 8%;
                top: 8%;
                display: none;
            }
            .telegram_md_icon {
                position: absolute;
                right: 0%;
                bottom: unset;
                width: 200px;
                top: 22%;
            }
        }
        .ad_banner__title {
            font-size: 24px;
            padding-right: 0%;
            mark {
                &::before {
                    border-width: 0 0 32px 10px;
                }
                &::after {
                    border-width: 30px 10px 0 0;
                }
            }
        }
        .subscribe {
            position: relative;
            .hint {
                left: 0%;
                width: 100%;
                top: 250%;
                transform: translateY(-50%);
                &::before {
                    content: '';
                    display: inline-block;
                    width: 0;
                    height: 0;
                    left: 50%;
                    top: -20px;
                    transform: translateX(-50%);
                    filter: drop-shadow(0px -6px 8px rgba(0, 181, 231, 0.13));
                    position: absolute;
                    border-bottom: 10px solid #fff;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                }
            }
        }
        .person {
            position: absolute;
            top: unset;
            right: 0;
            bottom: -10%;
        }
    }
    .guides__section {
        margin-top: 120px;
        .guides__title {}
        .guides__items {
            display: flex;
            flex-direction: column;
            &_i {
                &:hover {
                    text-decoration: underline;
                }
                text-align: left;
            }
            text-align: center;
            .more__guides {}
        }
    }
    // .sidebar
    .sidebar {
        margin-top: 50px;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        .widget {
            margin-top: 24px;
            &:first-child {
                margin-top: 0;
            }
        }
        .social_networks {
            margin-top: 100px !important;
            margin-bottom: 20px !important;
        }
        .paid_forecasts {
            margin-top: 50px;
            background-color: $w-color;
            padding: 24px 15px;
            text-align: center;
            .widget_title {
                @include section-title;
                mark {
                    &::before {
                        border-width: 0 0 36px 10px;
                    }
                    &:after {
                        border-width: 37px 10px 0 0;
                    }
                }
                margin-left: 0;
                font-size: 20px;
                letter-spacing: 1px;
                line-height: 30px;
                color: $t-color;
                font-weight: 800;
                text-align: center;
            }
            #paid_forecasts-date {
                font-size: 14px;
                letter-spacing: 0px;
                line-height: 30px;
                color: #adadad;
                font-family: $m-font;
                text-align: center;
                font-style: italic;
                border: 0;
                outline: 0;
                background-color: transparent;
            }
            .forecast__switcher {
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                margin-top: 16px;
                width: 90%;
                border-radius: 5px;
                filter: drop-shadow(0px -6px 8px rgba(59, 59, 59, 0.05));
                background-color: #ffffff;
                border: 1px solid #e8e8e8;
                overflow: hidden;
                box-sizing: border-box;
                .forecast_type {
                    font-size: 14px;
                    letter-spacing: 0px;
                    line-height: 30px;
                    color: $t-color;
                    font-family: $m-font;
                    text-align: center;
                    padding: 3px 20px;
                    position: relative;
                    font-weight: 800;
                    text-decoration: none;
                    &.active {
                        background-color: $y-color;
                    }
                    &:nth-child(1).active::before {
                        content: '';
                        display: inline-block;
                        height: 0;
                        width: 0;
                        border-bottom: 40px solid transparent;
                        border-top: 0 solid transparent;
                        border-left: 16px solid $y-color;
                        position: absolute;
                        top: 0;
                        right: -14px;
                    }
                    &:nth-child(2).active::after {
                        content: '';
                        display: inline-block;
                        height: 0;
                        width: 0;
                        border-bottom: 0 solid transparent;
                        border-top: 40px solid transparent;
                        border-right: 16px solid $y-color;
                        position: absolute;
                        top: 0;
                        left: -14px;
                    }
                }
            }
            .bet__items {
                margin-top: 25px;
                .bet__item {
                    margin-bottom: 5px;
                    font-size: 14px;
                    letter-spacing: 0px;
                    line-height: 30px;
                    color: $t-color;
                    font-family: $m-font;
                    text-align: center;
                    font-weight: 800;
                    width: 100%;
                    display: inline-flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 8px;
                    filter: drop-shadow(0px -6px 8px rgba(59, 59, 59, 0.05));
                    background-color: #f5f5f5;
                    border: 1px solid #e8e8e8;
                    overflow: hidden;
                    i {
                        font-weight: 400;
                        margin-right: auto;
                        margin-left: 2px;
                    }
                    padding-left: 12px;
                    .yellow_corner {
                        background-color: $y-color;
                        padding: 3px 12px;
                        display: inline-block;
                        position: relative;
                        &::before {
                            content: '';
                            display: inline-block;
                            height: 0;
                            width: 0;
                            border-bottom: 0 solid transparent;
                            border-top: 40px solid transparent;
                            border-right: 16px solid $y-color;
                            position: absolute;
                            top: 0;
                            left: -16px;
                        }
                    }
                }
            }
            position: relative;
            padding-bottom: 80px;
            .circled__coofficent {
                bottom: 0%;
                left: 50%;
                transform: translate(-50%, 50%);
                position: absolute;
                font-size: 16px;
                letter-spacing: 0px;
                line-height: 18px;
                color: $t-color;
                font-family: $m-font;
                text-align: center;
                font-style: italic;
                padding: 20px;
                display: inline-flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 114px;
                height: 114px;
                border-radius: 57px;
                background-color: $y-color;
                // border: 10px solid $y-color;
                box-shadow: 0 0 0px 10px #ffe62e57;
                font-weight: 600;
                mark {
                    font-weight: 800;
                    font-size: 33px;
                    letter-spacing: 1px;
                    background: transparent;
                }
            }
        }
        .free_forecasts {
            margin-top: 80px;
            background-color: $w-color;
            padding: 24px 15px;
            text-align: center;
            .widget_title {
                @include section-title;
                mark {
                    &::before {
                        border-width: 0 0 36px 10px;
                    }
                    &:after {
                        border-width: 37px 10px 0 0;
                    }
                }
                margin-left: 0;
                font-size: 20px;
                letter-spacing: 1px;
                line-height: 30px;
                color: $t-color;
                font-weight: 800;
                text-align: center;
            }
            #free_forecasts-date {
                font-size: 14px;
                letter-spacing: 0px;
                line-height: 30px;
                color: #adadad;
                font-family: $m-font;
                text-align: center;
                font-style: italic;
                border: 0;
                outline: 0;
                background-color: transparent;
            }
            .bet__items {
                margin-top: 25px;
                .bet__item {
                    margin-bottom: 5px;
                    font-size: 14px;
                    letter-spacing: 0px;
                    line-height: 30px;
                    color: $t-color;
                    font-family: $m-font;
                    text-align: center;
                    font-weight: 800;
                    width: 100%;
                    display: inline-flex;
                    justify-content: space-between;
                    align-items: center;
                    // border-radius: 8px;
                    font-style: italic;
                    filter: drop-shadow(0px -6px 8px rgba(59, 59, 59, 0.05));
                    // background-color: #f5f5f5;
                    // border: 1px solid #e8e8e8;
                    // overflow: hidden;
                    i {
                        font-weight: 400;
                        margin-right: auto;
                        margin-left: 2px;
                    }
                    padding-left: 12px;
                    .yellow_corner {
                        padding: 3px 12px;
                        display: inline-block;
                        position: relative;
                        background-color: transparent;
                    }
                    position: relative;
                    .line {
                        position: absolute;
                        bottom: 0px;
                        left: 0;
                        display: block;
                        height: 6px;
                        background-color: #f5f5f5;
                        width: 100%;
                        &::before {
                            content: '';
                            position: absolute;
                            border-bottom: 0px solid transparent;
                            border-top: 6px solid transparent;
                            border-right: 4px solid #f5f5f5;
                            left: -4px;
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            border-bottom: 6px solid transparent;
                            border-top: 0px solid transparent;
                            border-left: 4px solid #f5f5f5;
                            right: -4px;
                        }
                        &__fill {
                            height: 100%;
                            width: 0%;
                            background-color: $y-color;
                            display: inline-block;
                            position: absolute;
                            left: 0;
                            &::before {
                                top: 0;
                                content: '';
                                position: absolute;
                                border-bottom: 0px solid transparent;
                                border-top: 6px solid transparent;
                                border-right: 4px solid $y-color;
                                left: -4px;
                            }
                            &::after {
                                content: '';
                                position: absolute;
                                top: 0;
                                border-bottom: 6px solid transparent;
                                border-top: 0px solid transparent;
                                border-left: 4px solid $y-color;
                                z-index: 100;
                                right: -4px;
                            }
                        }
                    }
                }
            }
            position: relative;
            padding-bottom: 80px;
            .skewed_rect__coofficent {
                bottom: 0%;
                left: 50%;
                transform: translate(-50%, 50%);
                position: absolute;
                font-size: 16px;
                letter-spacing: 0px;
                line-height: 18px;
                color: $t-color;
                font-family: $m-font;
                text-align: center;
                font-style: italic;
                padding: 20px;
                display: inline-flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                background-color: $y-color;
                // border: 10px solid $y-color;
                box-shadow: 0 0 0px 10px #ffe62e57;
                font-weight: 600;
                padding: 10px 8px;
            }
        }
        .telegram_subscription {
            margin-top: 0px;
            position: relative;
            padding: 40px 50px;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                padding: 37px 68px;
                height: 100%;
                width: 100%;
                display: block;
                background: linear-gradient(180deg, #005cea 0%, #00c6fb 100%);
                clip-path: polygon(0% 0%, 0% 100%, 4% 100%, 4% 2.5%, 96% 2.5%, 96% 97.5%, 4% 97.5%, 4% 100%, 100% 100%, 100% 0%);
                border-radius: 10px;
            }
            .widget_title {
                @include section-title;
                font-size: 36px;
                letter-spacing: 1px;
                color: $t-color;
                font-weight: 800;
                font-family: $m-font;
                text-align: center;
                mark {
                    padding: 3px 10px;
                    &::before {
                        border-width: 0 0 36px 10px;
                    }
                    &:after {
                        border-width: 37px 10px 0 0;
                    }
                }
                margin-left: 0;
                font-size: 20px;
                letter-spacing: 1px;
                line-height: 30px;
                color: $t-color;
                font-weight: 800;
                text-align: center;
            }
            text-align: center;
            .subscribe {
                position: relative;
                .hint {
                    left: -50%;
                    width: 200%;
                    top: 250%;
                    transform: translateY(-50%);
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 0;
                        height: 0;
                        left: 50%;
                        top: -20px;
                        transform: translateX(-50%);
                        filter: drop-shadow(0px -6px 8px rgba(0, 181, 231, 0.13));
                        position: absolute;
                        border-bottom: 10px solid #fff;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                    }
                }
            }
            position: relative;
            padding-bottom: 400px;
            .bot_image {
                position: absolute;
                left: -20px;
                bottom: -40px;
                width: 100%;
            }
        }
    }
    // home
    // stats
    #stats_data-controls {
        display: inline-flex !important;
    }
    .stat__section {
        .stat__title {
            @include section-title;
        }
        .stat__title_description {
            font-size: 16px;
            letter-spacing: 0px;
            color: #adadad;
            font-family: $m-font;
        }
        .stat__items {
            display: flex;
            justify-content: space-around;
            margin: 0;
            flex-wrap: wrap;
            &_i {
                width: calc(100% / 2 - 5px);
                margin-top: 20px;
                margin-right: 0;
                &.forecasts__numbers{
                    width: calc(100%);

                }
            }
        }
    }
    .stats_section {
        margin-top: 30px;
        .stats_data__section {
            padding: 10px 5px;
            width: 90%;
            overflow-x: auto;
            margin: 0 auto;
            // margin-top: 60px;
            // padding-top: 60px;
            .stats_data__table {
                width: 1000px;
                margin: 0;
                padding-left: 20px;
                // --bs-gutter-x:unset;
            }
        }
    }
    .stats {
        .ad_banner__section {
            display: none;
        }
    }
    // stats

    .paid__section .forecasts_by_period .forecasts_by_period__items_i{
        width: 100%;
    }

    // tariffs
    .paid__section {
        .section_header {
            flex-direction: column;
            .paid__title {
                @include section-title;
            }
            .paid__title_description {
                font-size: 16px;
                letter-spacing: 0px;
                color: #adadad;
                font-family: $m-font;
            }
            .forecast__switcher {
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                margin-top: 16px;
                width: fit-content;
                border-radius: 5px;
                filter: drop-shadow(0px -6px 8px rgba(59, 59, 59, 0.05));
                background-color: #ffffff;
                border: 1px solid #e8e8e8;
                overflow: hidden;
                box-sizing: border-box;
                .forecast_type {
                    font-size: 14px;
                    letter-spacing: 0px;
                    line-height: 30px;
                    color: $t-color;
                    font-family: $m-font;
                    text-align: center;
                    padding: 3px 20px;
                    position: relative;
                    font-weight: 800;
                    text-decoration: none;
                    &.active {
                        background-color: $y-color;
                    }
                    &:nth-child(1).active::before {
                        content: '';
                        display: inline-block;
                        height: 0;
                        width: 0;
                        border-bottom: 40px solid transparent;
                        border-top: 0 solid transparent;
                        border-left: 16px solid $y-color;
                        position: absolute;
                        top: 0;
                        right: -14px;
                    }
                    &:nth-child(2).active::after {
                        content: '';
                        display: inline-block;
                        height: 0;
                        width: 0;
                        border-bottom: 0 solid transparent;
                        border-top: 40px solid transparent;
                        border-right: 16px solid $y-color;
                        position: absolute;
                        top: 0;
                        left: -14px;
                    }
                }
            }
        }
        .paid__items {
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            &_i {
                width: calc(100% / 2 - 5px);
                &:not(:last-child) {
                    margin-right: 0;
                }
                margin-top: 40px;
                filter: drop-shadow(0px -6px 8px rgba(59, 59, 59, 0.05));
                background-color: #ffffff;
                padding: 0;
                .discount {
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translate(15%, -50%);
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    filter: drop-shadow(0px -6px 8px rgba(59, 59, 59, 0.05));
                    background-color: #ffe62e;
                    border: 5px solid #ffee73;
                    font-size: 13px;
                    letter-spacing: 0px;
                    line-height: 13px;
                    color: $t-color;
                    font-family: $m-font;
                    font-weight: 800;
                    text-align: center;
                    &_percentage {
                        font-size: 1rem;
                        margin-top: 5px;
                    }
                }
                .item_header {
                    width: 100%;
                    font-size: 18px;
                    letter-spacing: 1px;
                    line-height: 16px;
                    font-weight: 800;
                    color: $w-color;
                    font-family: $m-font;
                    text-align: center;
                    background-color: $b-color;
                    padding: 22px 0;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                }
                .item_content {
                    .item_price {
                        position: relative;
                        .actual_price {
                            display: inline-block;
                            width: 100%;
                            left: 0;
                            top: 0;
                            position: absolute;
                            font-size: 16px;
                            letter-spacing: 0px;
                            line-height: 30px;
                            text-decoration: line-through;
                            color: #ababab;
                            font-weight: bold;
                            font-family: $m-font;
                            text-align: center;
                        }
                        font-size: 43px;
                        letter-spacing: 1px;
                        line-height: 30px;
                        color: #3b3b3b;
                        font-weight: 800;
                        font-family: $m-font;
                        text-align: center;
                        font-style: italic;
                        padding-top: 20px;
                        padding-bottom: 0px;
                        border-bottom: 1px solid #f6f6f6;
                    }
                    .list {
                        margin-left: 0px;
                        padding-left: 25px;
                        .list_item {
                            font-size: 14px;
                            letter-spacing: 0px;
                            line-height: 22px;
                            color: #9f9f9f;
                        }
                        text-align: left;
                    }
                    text-align: center;
                    padding-bottom: 30px;
                    .item_buy_btn {
                        display: inline-block;
                        @include morebtn;
                        color: #000;
                        filter: drop-shadow(0px -6px 8px rgba(255, 230, 46, 0.22));
                        background-color: #ffe62e;
                        padding: 12px 25px;
                        margin-top: 10px;
                    }
                }

                // &.tall
            }

        }
        .forecasts_by_period {
            width: calc(100%);
            margin-right: 0;
            margin-left: 0px;
            .item_banner {
                background-color: #fff;
                padding-left: 15px;
                padding-top: 30px;
                padding-bottom: 5px;
                border-radius: 5px;
                .telegram_lg_icon {
                    width: 40%;
                }
                .item_title {
                    @include section-title;
                    padding-right: 1%;
                    mark {
                        &::before {
                            border-width: 0 0 31px 10px;
                        }
                        &:after {
                            border-width: 31px 10px 0 0;
                        }
                    }
                }
                .item_description {
                    // padding-right: 0%;
                }
                .item_stats {
                    display: flex;
                    flex-direction: column;
                    border-top: 1px solid $bor-color;
                    padding-top: 4px;
                    .stats_bets {
                        border-left: 0;
                        padding-left: 0px;
                    }
                }
            }
            .forecasts_by_period__items {
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                &_i {
                    width: calc(100% / 2 - 5px);
                    padding: 20px 15px;
                    background-color: #fff;
                    border-radius: 5px;
                    position: relative;
                    margin-bottom: 10px;
                    .item_discount_percent {
                        right: 0px;
                    }
                }
            }
        }
    }
    .paid {
        .ad_banner__section {
            display: none;
        }
    }
    // paid
    // free
    .free_forecasts__section {
        .free_forecasts__items {
            margin-top: 20px;
            &_i {
                width: 100%;
                display: flex;
                flex-direction: column;
                position: relative;
                .item_content {
                    padding-left: 0px;
                    text-align: center;
                    flex-direction: column;
                    font-size: 10px;
                    .item_btn{
                        padding: 12px 25px;
                        font-size: 8px;
                        margin-top: 10px;
                    }

                    .item_title {
                        font-size: 13px;
                        margin-top: 10px;
                        display: flex;
                        .item_type {
                            position: absolute;
                            right: -10px;
                            top: 0;
                            padding: 5px 10px;
                            padding-left: 25px;
                        }
                    }
                    p {
                        text-align: left;
                    }
                }
            }
        }
    }
    // free
    // theories
    // .free-theories__section
    .paid-theories__section {
        margin-top: 63px;
        .paid-forecast__title {
            @include section-title;
        }
        .paid-theories__items {
            margin: 0;
            margin-top: 33px;
            display: grid;
            grid-template-columns: 1fr;
            .column1,
            .column2 {
                padding: 0;
            }
            &_i {
                flex-direction: column;
                .item_rating {
                    mark {
                        &::before {
                            border-bottom-width: 27px;
                        }
                    }
                }
                .item_image {
                    // width: 35%;
                    img {
                        width: 100%;
                        // height: 100%;
                    }
                }
                .item_content {
                    // flex-basis: 35%;
                    // width: 75%;
                    padding-left: 0px;
                }
                &.tall {
                    margin-left: 0px;
                    flex-direction: column;
                    padding: 0;
                    margin-top: 20px;
                    .item_rating {
                        right: unset;
                        left: -25px;
                        top: 15px;
                    }
                    .item_image {
                        // width: 35%;
                        img {
                            width: 100%;
                            // height: 100%;
                        }
                    }
                    position: relative;
                    .item_content {
                        padding: 20px 15px;
                        position: absolute;
                        bottom: 0;
                        .item_title {
                            color: $w-color;
                            text-align: right;
                            font-family: $m-font;
                            font-size: 30px;
                            font-weight: 800;
                            // Text style for "СТРАТЕГИЯ"
                            color: $w-color;
                            letter-spacing: 0.75px;
                            // Text style for "«ТОТАЛ БОЛ"
                            letter-spacing: 0.75px;
                            mark {
                                color: $y-color;
                                background-color: transparent;
                            }
                        }
                        .item_description {
                            display: none;
                        }
                        .item_footer {
                            .item_views {
                                order: 1;
                                color: $y-color;
                            }
                            .gototheory {
                                order: 2;
                                padding: 7px 25px;
                            }
                        }
                    }
                }
            }
            &.wide {
                display: block;
            }
        }
    }
    .theories {
        .free-theories__section {
            margin-top: 60px;
        }
    }
    // theories
    // contact
    .contact_title {
        @include section-title;
    }
    .contact__form {
        margin-left: 0px;
        margin-top: 20px;
        .inline-group {
            flex-direction: column;
            margin-bottom: 0px;
            input {
                width: calc(100%);
                margin-bottom: 30px;
            }
        }
    }
    // contact
}
