
@font-face {
  font-family: 'Proxima Nova';
  src: url('/css/fonts/ProximaNovaT-Thin.eot');
  src: local('Proxima Nova'), local('/css/fonts/ProximaNovaT-Thin'),
      url('/css/fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
      url('/css/fonts/ProximaNovaT-Thin.woff2') format('woff2'),
      url('/css/fonts/ProximaNovaT-Thin.woff') format('woff'),
      url('/css/fonts/ProximaNovaT-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/css/fonts/ProximaNova-ThinIt.eot');
  src: local('Proxima Nova'), local('/css/fonts/ProximaNova-ThinIt'),
      url('/css/fonts/ProximaNova-ThinIt.eot?#iefix') format('embedded-opentype'),
      url('/css/fonts/ProximaNova-ThinIt.woff2') format('woff2'),
      url('/css/fonts/ProximaNova-ThinIt.woff') format('woff'),
      url('/css/fonts/ProximaNova-ThinIt.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}


@font-face {
  font-family: 'Proxima Nova';
  src: url('/css/fonts/ProximaNova-Light.eot');
  src: local('Proxima Nova'), local('/css/fonts/ProximaNova-Light'),
      url('/css/fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
      url('/css/fonts/ProximaNova-Light.woff2') format('woff2'),
      url('/css/fonts/ProximaNova-Light.woff') format('woff'),
      url('/css/fonts/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('/css/fonts/ProximaNova-LightIt.eot');
  src: local('Proxima Nova'), local('/css/fonts/ProximaNova-LightIt'),
      url('/css/fonts/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
      url('/css/fonts/ProximaNova-LightIt.woff2') format('woff2'),
      url('/css/fonts/ProximaNova-LightIt.woff') format('woff'),
      url('/css/fonts/ProximaNova-LightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: 'Proxima Nova';
  src: url('/css/fonts/ProximaNova-RegularIt.eot');
  src: local('Proxima Nova'), local('/css/fonts/ProximaNova-RegularIt'),
      url('/css/fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
      url('/css/fonts/ProximaNova-RegularIt.woff2') format('woff2'),
      url('/css/fonts/ProximaNova-RegularIt.woff') format('woff'),
      url('/css/fonts/ProximaNova-RegularIt.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/css/fonts/ProximaNova-Regular.eot');
  src: local('Proxima Nova'), local('/css/fonts/ProximaNova-Regular'),
      url('/css/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
      url('/css/fonts/ProximaNova-Regular.woff2') format('woff2'),
      url('/css/fonts/ProximaNova-Regular.woff') format('woff'),
      url('/css/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



@font-face {
  font-family: 'Proxima Nova';
  src: url('/css/fonts/ProximaNova-SemiboldIt.eot');
  src: local('Proxima Nova Semibold Italic'), local('/css/fonts/ProximaNova-SemiboldIt'),
      url('/css/fonts/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
      url('/css/fonts/ProximaNova-SemiboldIt.woff2') format('woff2'),
      url('/css/fonts/ProximaNova-SemiboldIt.woff') format('woff'),
      url('/css/fonts/ProximaNova-SemiboldIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/css/fonts/ProximaNova-Semibold.eot');
  src: local('Proxima Nova'), local('/css/fonts/ProximaNova-Semibold'),
      url('/css/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
      url('/css/fonts/ProximaNova-Semibold.woff2') format('woff2'),
      url('/css/fonts/ProximaNova-Semibold.woff') format('woff'),
      url('/css/fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Proxima Nova';
  src: url('/css/fonts/ProximaNova-Bold.eot');
  src: local('Proxima Nova'), local('/css/fonts/ProximaNova-Bold'),
      url('/css/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
      url('/css/fonts/ProximaNova-Bold.woff2') format('woff2'),
      url('/css/fonts/ProximaNova-Bold.woff') format('woff'),
      url('/css/fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Proxima Nova';
  src: url('/css/fonts/ProximaNova-BoldIt.eot');
  src: local('Proxima Nova'), local('/css/fonts/ProximaNova-BoldIt'),
      url('/css/fonts/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
      url('/css/fonts/ProximaNova-BoldIt.woff2') format('woff2'),
      url('/css/fonts/ProximaNova-BoldIt.woff') format('woff'),
      url('/css/fonts/ProximaNova-BoldIt.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('/css/fonts/ProximaNova-Extrabld.eot');
  src: local('Proxima Nova Extrabold'), local('/css/fonts/ProximaNova-Extrabld'),
      url('/css/fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
      url('/css/fonts/ProximaNova-Extrabld.woff2') format('woff2'),
      url('/css/fonts/ProximaNova-Extrabld.woff') format('woff'),
      url('/css/fonts/ProximaNova-Extrabld.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: 'Proxima Nova';
  src: url('/css/fonts/ProximaNova-ExtrabldIt.eot');
  src: local('Proxima Nova'), local('/css/fonts/ProximaNova-ExtrabldIt'),
      url('/css/fonts/ProximaNova-ExtrabldIt.eot?#iefix') format('embedded-opentype'),
      url('/css/fonts/ProximaNova-ExtrabldIt.woff2') format('woff2'),
      url('/css/fonts/ProximaNova-ExtrabldIt.woff') format('woff'),
      url('/css/fonts/ProximaNova-ExtrabldIt.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/css/fonts/ProximaNova-BlackIt.eot');
  src: local('Proxima Nova'), local('/css/fonts/ProximaNova-BlackIt'),
      url('/css/fonts/ProximaNova-BlackIt.eot?#iefix') format('embedded-opentype'),
      url('/css/fonts/ProximaNova-BlackIt.woff2') format('woff2'),
      url('/css/fonts/ProximaNova-BlackIt.woff') format('woff'),
      url('/css/fonts/ProximaNova-BlackIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/css/fonts/ProximaNova-Black.eot');
  src: local('Proxima Nova Black'), local('/css/fonts/ProximaNova-Black'),
      url('/css/fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
      url('/css/fonts/ProximaNova-Black.woff2') format('woff2'),
      url('/css/fonts/ProximaNova-Black.woff') format('woff'),
      url('/css/fonts/ProximaNova-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}




