.zoom_modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .5);
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transform: .3s;
    // img {
    //     width: 50%;
    // }
    .close_zoom_modal {
        position: absolute;
        right: 1.5em;
        top: 1.5em;
        &:hover {
            color: #fb2626;
        }
    }
    &.shown_modal {
        visibility: visible;
        transform: scale(1);
        opacity: 1;
    }
    // &.zoomImg {
    //     transform: scale(1.5);
    // }
}

// footer
.footer {
    padding: 36px 0;
    filter: drop-shadow(0px -6px 8px rgba(0, 181, 231, 0.1));
    background-image: linear-gradient(92deg, #525ed6 0%, #298acb 100%);
    &__container {
        width: $g-wide;
        margin: 0 auto;
        .footer__block {
            display: flex;
            justify-content: space-between;
            &__item {
                img.logo {
                    // width: 234px;
                    // height: 140px;
                }
                .copyright {
                    font-size: 12px;
                    color: #f3f3f3;
                    font-family: $m-font;
                    text-align: left;
                }
                .widget_title {
                    @include section-title;
                }
                .navbar__menu {
                    margin-top: 20px;
                    // display: flex;
                    // justify-content: flex-start;
                    // flex-wrap: wrap;
                    column-count: 2;
                    width: calc($g-wide / 3 - 30px);
                    max-width: 100%;
                    padding-left: 0px;

                    .menu_link {
                        display: block;
                        font-size: 14px;
                        letter-spacing: 0px;
                        color: #fff;
                        font-weight: 600;
                        font-family: $m-font;
                        text-decoration: none;
                        text-transform: uppercase;
                        &:not(:first-child) {
                            margin-top: 5px;
                        }
                        transition: .3s;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                width: calc(100% / 3 - 20px);
                .contact__form {
                    margin-left: 20px;
                    margin-top: 20px;
                    .inline-group {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 16px;
                        input {
                            font-size: 14px;
                            letter-spacing: 0px;
                            color: #999999;
                            font-family: $m-font;
                            width: calc(50% - 20px);
                            border: 0;
                            outline: 0;
                            padding: 8px 18px;
                        }
                        textarea {
                            width: 95%;
                            padding: 10px;
                        }
                        position: relative;
                        .message__submit__btn {
                            border: 0;
                            outline: 0;
                            background-color: $y-color;
                            padding: 13px;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            top: 50%;
                            transform: translateY(-50%);
                            color: $w-color;
                            border-radius: 50%;
                            right: -5px;
                            position: absolute;
                            filter: drop-shadow(0px -6px 8px rgba(255, 230, 46, 0.23));
                            background-color: $t-color;
                            transition: .3s;
                            &:hover {
                                background-color: #ffe62e;
                            }
                        }
                    }
                }
            }
        }
    }
}
