.bg-custom{
  box-shadow: 0 -6px 16px rgba(0, 181, 231, 0.1);
  background-image: linear-gradient(-268deg, #525ed6 0%, #298acb 100%);
  // height: 70px;
  padding: 0;
  .header{
    align-items: center !important;
    .logo{
      height: 80px;
      &_img{
        height: 100%;
      }
      .navbar-brand{
        position: absolute;
      }
    }
    .navbar__menu{
      margin-left: 134px;
      .menu_link{
        color: $w-color;
        // font-family: $m-font;
        font-family: $m-font;
        font-size: $rf-size;
        font-weight: 400;
        text-transform: uppercase;
        /* Text style for "Б, есплатн" */
        letter-spacing: 0.3px;
        margin-right: 27px;
        text-decoration: none;
        transition: .3s;
        position: relative;
        &:before{
          content: '';
          display: inline-block;
          width: 100%;
          height: 20px;
          background-color: #fff;
          top: -8px;
          position: absolute;
          left: 0;
          opacity: 0;
          transition: .3s;
        }
        &:hover{
          // text-decoration: underline;
          &:before{
            opacity: 1;
            height: 1px;
          }
        }

        &.active{
          text-decoration: underline;
        }
      }
    }

    &__buttons{
      .register_button{
        color: $w-color;
        font-family: $m-font;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        margin-right: 15px;
        &:hover{
          text-decoration: underline;
        }
      }
      .login_button{
        color: $w-color;
        font-family: $m-font;
        font-size: 14px;
        font-weight: 600;
        // Text style for "З, адать в"
        letter-spacing: 0.35px;
        box-shadow: 0 -6px 16px rgba(61, 111, 228, 0.23);
        padding: 8px 22px;
        border-radius: 20px;
        border: 1px solid $w-color;
        letter-spacing: 1px;
        text-decoration: none;
        cursor: pointer;
        transition: .3s;
        white-space: nowrap;
        &:hover{
          text-decoration: underline;
        }
        svg{
          margin-right: 5px;
        }
      }
    }


    .hamburger{
      display: none;
    }
    
  }

  &.fixed-top{
    z-index: 9999;
  }
}