.widget_content {
    text-align: center;
    justify-content: center;
    &>* {
        width: 100%;
    }
}

// .sidebar
.sidebar {
    //   margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    .widget {
        margin-top: 24px;
    }
    .social_networks {
        a {
            display: block;
            width: 100%;
            @include morebtn;
            font-size: 16px;
            letter-spacing: 0px;
            color: #ffffff;
            font-family: "Proxima Nova";
            border-radius: 10px;
            text-align: center;
        }
        .telegram {
            filter: drop-shadow(0px -6px 8px rgba(0, 136, 204, 0.22));
            background-color: #0088cc;
        }
        .vkontakte {
            margin-top: 20px;
            filter: drop-shadow(0px -6px 8px rgba(0, 136, 204, 0.22));
            background-color: #45668e;
        }
        .youtube {
            margin-top: 20px;
            filter: drop-shadow(0px -6px 8px rgba(255, 0, 0, 0.22));
            background-color: #FF0000;
            &:hover {
                box-shadow: 0 2px 15px 6px rgba(255, 0, 0, 0.22), inset 0 -5px 0 2px rgba(0, 0, 0, 0.3);
            }
        }
        .instagram {
            margin-top: 20px;
            filter: drop-shadow(0px -6px 8px rgba(131, 58, 180, 0.22));
            background-color: rgb(131, 58, 180);
            &:hover {
                box-shadow: 0 2px 15px 6px rgba(131, 58, 180, 0.22), inset 0 -5px 0 2px rgba(131, 58, 180, 0.3);
            }
        }
    }
    .paid_forecasts {
        background-color: $w-color;
        padding: 24px 15px;
        text-align: center;
        .widget_title {
            @include section-title;
            mark {
                &::before {
                    border-width: 0 0 36px 10px;
                }
                &:after {
                    border-width: 37px 10px 0 0;
                }
            }
            margin-left: 0;
            font-size: 20px;
            letter-spacing: 1px;
            line-height: 30px;
            color: $t-color;
            font-weight: 800;
            text-align: center;
        }
        #paid_forecasts-date {
            font-size: 14px;
            letter-spacing: 0px;
            line-height: 30px;
            color: #adadad;
            font-family: $m-font;
            text-align: center;
            font-style: italic;
            border: 0;
            outline: 0;
            background-color: transparent;
        }
        .forecast__switcher {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            margin-top: 16px;
            width: 90%;
            border-radius: 5px;
            filter: drop-shadow(0px -6px 8px rgba(59, 59, 59, 0.05));
            background-color: #ffffff;
            border: 1px solid #e8e8e8;
            overflow: hidden;
            box-sizing: border-box;
            .forecast_type {
                font-size: 14px;
                letter-spacing: 0px;
                line-height: 30px;
                color: $t-color;
                font-family: $m-font;
                text-align: center;
                padding: 3px 20px;
                position: relative;
                font-weight: 800;
                text-decoration: none;
                &.active {
                    background-color: $y-color;
                }
                &:nth-child(1).active::before {
                    content: '';
                    display: inline-block;
                    height: 0;
                    width: 0;
                    border-bottom: 40px solid transparent;
                    border-top: 0 solid transparent;
                    border-left: 16px solid $y-color;
                    position: absolute;
                    top: 0;
                    right: -14px;
                }
                &:nth-child(2).active::after {
                    content: '';
                    display: inline-block;
                    height: 0;
                    width: 0;
                    border-bottom: 0 solid transparent;
                    border-top: 40px solid transparent;
                    border-right: 16px solid $y-color;
                    position: absolute;
                    top: 0;
                    left: -14px;
                }
            }
        }
        .bet__items {
            margin-top: 25px;
            .bet__item {
                margin-bottom: 5px;
                font-size: 14px;
                letter-spacing: 0px;
                line-height: 30px;
                color: $t-color;
                font-family: $m-font;
                text-align: center;
                font-weight: 800;
                width: 100%;
                display: inline-flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 8px;
                filter: drop-shadow(0px -6px 8px rgba(59, 59, 59, 0.05));
                background-color: #f5f5f5;
                border: 1px solid #e8e8e8;
                overflow: hidden;
                i {
                    font-weight: 400;
                    margin-right: auto;
                    margin-left: 2px;
                }
                padding-left: 12px;
                .yellow_corner {
                    background-color: $y-color;
                    padding: 3px 12px;
                    display: inline-block;
                    position: relative;
                    &::before {
                        content: '';
                        display: inline-block;
                        height: 0;
                        width: 0;
                        border-bottom: 0 solid transparent;
                        border-top: 40px solid transparent;
                        border-right: 16px solid $y-color;
                        position: absolute;
                        top: 0;
                        left: -16px;
                    }
                }
            }
        }
        position: relative;
        padding-bottom: 80px;
        .circled__coofficent {
            bottom: 0%;
            left: 50%;
            transform: translate(-50%, 50%);
            position: absolute;
            font-size: 16px;
            letter-spacing: 0px;
            line-height: 18px;
            color: $t-color;
            font-family: $m-font;
            text-align: center;
            font-style: italic;
            padding: 20px;
            display: inline-flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 114px;
            height: 114px;
            border-radius: 57px;
            background-color: $y-color;
            // border: 10px solid $y-color;
            box-shadow: 0 0 0px 10px #ffe62e57;
            font-weight: 600;
            mark {
                font-weight: 800;
                font-size: 33px;
                letter-spacing: 1px;
                background: transparent;
            }
        }
    }
    .free_forecasts {
        margin-top: 80px;
        background-color: $w-color;
        padding: 24px 15px;
        text-align: center;
        .widget_title {
            @include section-title;
            mark {
                &::before {
                    border-width: 0 0 36px 10px;
                }
                &:after {
                    border-width: 37px 10px 0 0;
                }
            }
            margin-left: 0;
            font-size: 20px;
            letter-spacing: 1px;
            line-height: 30px;
            color: $t-color;
            font-weight: 800;
            text-align: center;
        }
        #free_forecasts-date {
            font-size: 14px;
            letter-spacing: 0px;
            line-height: 30px;
            color: #adadad;
            font-family: $m-font;
            text-align: center;
            font-style: italic;
            border: 0;
            outline: 0;
            background-color: transparent;
        }
        .bet__items {
            margin-top: 25px;
            .bet__item {
                margin-bottom: 5px;
                font-size: 14px;
                letter-spacing: 0px;
                line-height: 30px;
                color: $t-color;
                font-family: $m-font;
                text-align: center;
                font-weight: 800;
                width: 100%;
                display: inline-flex;
                justify-content: space-between;
                align-items: center;
                // border-radius: 8px;
                font-style: italic;
                filter: drop-shadow(0px -6px 8px rgba(59, 59, 59, 0.05));
                // background-color: #f5f5f5;
                // border: 1px solid #e8e8e8;
                // overflow: hidden;
                i {
                    font-weight: 400;
                    margin-right: auto;
                    margin-left: 2px;
                }
                padding-left: 12px;
                .yellow_corner {
                    padding: 3px 12px;
                    display: inline-block;
                    position: relative;
                    background-color: transparent;
                }
                position: relative;
                .line {
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    display: block;
                    height: 6px;
                    background-color: #f5f5f5;
                    width: 100%;
                    &::before {
                        content: '';
                        position: absolute;
                        border-bottom: 0px solid transparent;
                        border-top: 6px solid transparent;
                        border-right: 4px solid #f5f5f5;
                        left: -4px;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        border-bottom: 6px solid transparent;
                        border-top: 0px solid transparent;
                        border-left: 4px solid #f5f5f5;
                        right: -4px;
                    }
                    &__fill {
                        height: 100%;
                        width: 0%;
                        background-color: $y-color;
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        &::before {
                            top: 0;
                            content: '';
                            position: absolute;
                            border-bottom: 0px solid transparent;
                            border-top: 6px solid transparent;
                            border-right: 4px solid $y-color;
                            left: -4px;
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            border-bottom: 6px solid transparent;
                            border-top: 0px solid transparent;
                            border-left: 4px solid $y-color;
                            z-index: 100;
                            right: -4px;
                        }
                    }
                }
            }
        }
        position: relative;
        padding-bottom: 80px;
        .skewed_rect__coofficent {
            bottom: 0%;
            left: 50%;
            transform: translate(-50%, 50%);
            position: absolute;
            font-size: 16px;
            letter-spacing: 0px;
            line-height: 18px;
            color: $t-color;
            font-family: $m-font;
            text-align: center;
            font-style: italic;
            padding: 20px;
            display: inline-flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background-color: $y-color;
            // border: 10px solid $y-color;
            box-shadow: 0 0 0px 10px #ffe62e57;
            font-weight: 600;
            padding: 10px 8px;
        }
        &.paid_page {
            margin-top: 0;
        }
    }
    .telegram_subscription {
        margin-top: 60px;
        position: relative;
        padding: 40px 50px;
        background-image: url("/imgs/sidebar-banner-bottom-bg.png");
        background-position-y: 100%;
        background-position-x: center;
        background-size: contain;
        background-repeat: no-repeat;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            padding: 37px 68px;
            height: 100%;
            width: 100%;
            display: block;
            background: linear-gradient(180deg, #005cea 0%, #00c6fb 100%);
            clip-path: polygon(0% 0%, 0% 100%, 4% 100%, 4% 2.5%, 96% 2.5%, 96% 97.5%, 4% 97.5%, 4% 100%, 100% 100%, 100% 0%);
            border-radius: 10px;
        }
        .widget_title {
            @include section-title;
            font-size: 36px;
            letter-spacing: 1px;
            color: $t-color;
            font-weight: 800;
            font-family: $m-font;
            text-align: center;
            mark {
                padding: 3px 10px;
                &::before {
                    border-width: 0 0 36px 10px;
                }
                &:after {
                    border-width: 37px 10px 0 0;
                }
            }
            margin-left: 0;
            font-size: 20px;
            letter-spacing: 1px;
            line-height: 30px;
            color: $t-color;
            font-weight: 800;
            text-align: center;
        }
        text-align: center;
        .subscribe {
            margin-top: 20px;
            @include morebtn;
            color: $t-color;
            filter: drop-shadow(0px -6px 8px rgba(255, 230, 46, 0.22));
            background-color: #ffe62e;
            padding: 12px 25px;
            svg {
                width: 16px;
                height: 16px;
            }
            position: relative;
            .hint {
                display: block;
                left: 115%;
                width: 150%;
                top: 50%;
                transform: translateY(-50%);
                padding: 18px 5px 5px 13px;
                font-size: 12px;
                letter-spacing: 0px;
                color: #c0c0c0;
                font-family: $m-font;
                position: absolute;
                border-radius: 10px;
                filter: drop-shadow(0px -6px 8px rgba(0, 181, 231, 0.13));
                background-color: #ffffff;
                &::before {
                    content: '';
                    display: inline-block;
                    width: 0;
                    height: 0;
                    left: -10px;
                    top: 50%;
                    transform: translateY(-50%);
                    filter: drop-shadow(0px -6px 8px rgba(0, 181, 231, 0.13));
                    position: absolute;
                    border-bottom: 10px solid transparent;
                    border-top: 10px solid transparent;
                    border-right: 10px solid #fff;
                }
            }
        }
        position: relative;
        padding-bottom: 250px;
        .bot_image {
            position: absolute;
            left: -50px;
            bottom: -40px;
            width: 100%;
        }
    }
}
